<section class="m-4">
    <div class="row">
        <div class="col-8">
            <div class="d-flex align-items-center justify-content-center" style="height: 15vw;">
                <h2 style="font-size: 7vw; font-style: italic;" class="text-center">PAPELERIA SALTOS</h2>
            </div>
        </div>
        <div class="col-4">
            <figure class="figure">
                <img style="width: 25vw;" src="https://res.cloudinary.com/dvqgk49zn/image/upload/v1691534576/papersaltos/header/papeleri%CC%81asaltos_mjzjhj.jpg"
                    alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-center">Shopping Star</figcaption>
            </figure>
        </div>
    </div>
</section>